[submodule "SprigganGui"]
	path = SprigganGui
	url = https://github.com/Gaerax/SprigganGui.git
[submodule "spriggan-client-gui"]
	path = spriggan-client-gui
	url = https://github.com/Gaerax/spriggan-client-gui.git
